.main-page {
    background: url("../Assets/cover.jpg") no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 4.05vw);
}

.main-txt-container {
    position: relative;
    top: 10vw;
    left: 10vw;
    width: 50vw;
}

.main-txt1 {
    font-size: 3vw;
    color: #096c65;
}

.main-txt2 {
    font-size: 4vw;
    color: #096c65;
}

.main-txt3 {
    font-size: 5vw;
    color: #096c65;
}

.main-txt4 {
    font-size: 2vw;
    color: #096c65;
}

/*ChatBot Section*/
.chat-container {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    z-index: 1000;
}

.chat-btn {
    font-size: 1.3vw;
}