.register {
    background-color: #c4c2c2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    min-width: 30vw;
    min-height: 37vw;
}

.register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.register-title {
    margin-top: 1vw;
    cursor: default;
    font-size: 2vw;
}

.register-info-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    margin-top: 1vw;
}

.username {
    font-size: 1vw;
    margin: 0;
}

.password {
    font-size: 1vw;
}

.email {
    font-size: 1vw;
}

.phone {
    font-size: 1vw;
}

.label-txt {
    font-size: 1.3vw;
}

.label-input {
    font-size: 1.2vw;
    width: 15vw;
}

.register-btn {
    font-size: 1.2vw;
    margin: 2vw 0 2vw 0;
}

.footer-txt {
    font-size: 1.1vw;
    margin-right: 1vw;
}

.footer-link {
    font-size: 1.1vw;
}