.chatbot {
    position: relative;
    right: 1vw;
    bottom: 0;
    width: 21vw;
    min-width: 21vw;
    height: 30vw;
    background-color: white;
    border-radius: 10px;
}

/*Header*/
.chatbot-header {
    border-bottom: 1px solid grey;
}

.close-btn {
    font-size: 1vw;
    margin: 1vw;
}

.chatbot-name {
    font-size: 1.3vw;
}

/*Chat Box*/
.chatBox {
    overflow-y: auto;
    max-height: 26vw;
}

.message {
    margin: 0;
}

.initial-message-container {
    display: flex;
    background-color: aqua;
    border-radius: 10px;
    padding: 1vw;
    margin: 2vw 2vw 0 1vw;
    width: 14vw;
    list-style-type: none;
}

.initial-message {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.message1 {
    font-size: 1vw;
    margin: 0;
}

.robot-icon {
    margin-right: 1vw;
    font-size: 1vw;
}

/*Message Link*/
.quick-link-container {
    margin: 2vw 1vw 2vw 1vw;
}

.quick-link-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
}

.link-item {
    font-size: 1vw;
    list-style-type: none;
}

.bi-caret-right {
    margin-right: 1vw;
}

/*QA Section*/
.robot-message {
    background-color: aqua;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    margin-left: -1.5vw;
    width: 13vw;
    list-style-type: none;
    font-size: 1vw;
}

.user-message {
    background-color: #b181ea;
    border-radius: 10px;
    padding: 0.5vw 1vw;
    margin-left: 7vw;
    width: 10vw;
    max-width: 10vw;
    word-wrap: break-word;
    list-style-type: none;
    font-size: 1vw;
}

.QA-list {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    margin-bottom: 5vw;
}

/*Input Section*/
.input-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -1vw;
    /*right: 0;*/
    width: 100%;
    padding-bottom: 1vw;
    border-top: 1px solid black;
}

.type-section {
    flex: 1;
    font-size: 1vw;
    border: none;

    padding: 0.2vw;
}

.bi-arrow-right-circle {
    font-size: 1.5vw;
    position: absolute;
    bottom: 65%;
    right: 0.2vw;
    transform: translateY(50%);
    cursor: pointer;
}