.tech-page {
    background-color: rgb(236, 251, 255);
    padding: 20px;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}

/*Left Section*/
.tech-left {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 20px;
}

.tech-txt1 {
    font-size: 3.3vw;
    color: rgb(0, 176, 119);
    margin-bottom: 3vw;
}

.tech-txt2 {
    font-size: 1.5vw;
    margin: 1vw;
}

/*Right Section*/
.tech-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

.right-img {
    max-width: 100%;
}

/* Tech Bottom */
.bi-envelope-at, .bi-telephone-fill {
    margin-right: 5px;
    font-size: 1.2vw;
}

.email-txt, .phone-txt {
    font-size: 1.2vw;
    margin-right: 2vw;
}

/*ChatBot Section*/

.tech-chat-container {
    position: fixed;
    bottom: 3vw;
    right: 10vw;
    z-index: 1000;
    width: 14vw;
}

.tech-chat-btn {
    position: absolute;
    right: 4vw;
    bottom: 0;
    font-size: 1.3vw;
}