.add-product-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #b5e1a3;
    height: 100vh;
}

.add-product-form {
    margin: 3vw 0;
    background-color: white;
    padding: 1vw 2.5vw;
    border-radius: 10px;
}

.add-product-title {
    margin-bottom: 1vw;
}

.category-select {
    width: 12vw;
    height: 3vw
}

.input-box {
    width: 100%;
}

.add-product-desc {
    height: 5vw;
}