.admin-page {

}

.admin-form {
    margin: 8vw 10vw 5vw 10vw;
    width: 80vw;
}

.search-container {
    font-size: 1vw;
    margin: 5vw;
}

.goToAddProduct {
    text-decoration: none;
    color: white;
    font-size: 1vw;
}

.th-col {
    font-size: 1.2vw;

}