.user-info-txt {
    font-size: 1vw;
    word-wrap: break-word;
}

.user-password {
    max-width: 15vw;
    overflow: hidden;
}

.user-update-btn {
    position: relative;
    right: 0.5vw;
    top: 1vw;
    font-size: 1vw;
}

.product-delete-btn {
    position: relative;
    right: 0.5vw;
    top: 1vw;
    font-size: 1vw;
}