.cart {
    background-color: #c4c2c2;
    padding: 20px;
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
}

.cart-container {
    margin: 5vw 10vw;
    background-color: white;
    border-radius: 5px;
}

.cart-title-container {
    border-bottom: 1px solid black;
}

.cart-title {
    font-size: 3vw;
    margin-left: 2vw;
}

.product-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.product-img {
    width: 15vw;
    height: 10vw;
}

.shopping-card {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    row-gap: 0.5vw;
    width: 90%;
}

.card-body {

}
